#toTop{display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:51px;height:51px;border:0;text-indent:-9999px;background:url("elevator-images/top.png") no-repeat left top;z-index:9988} #toTop:hover{background:url("elevator-images/top.png") no-repeat left -51px} #toTop:active,#toTop:focus{outline:0}
/*
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-position/
 * Support: support@1littledesigner.com
 * Version 1.0.4
 * Description: Simple Element Positioning & Z-Index Control
 */


	#simplePosition_stacks_in_12180_page168 {
		position: fixed;
		z-index: 2;
		top: 0px;
		right: 0px;
	}

#simplePosition_stacks_in_12180_page168.sizeControlOn {
	width: 300px;
	height: 300px;
}
#simplePosition_stacks_in_12180_page168 h3.advert {
	
}

#stacks_in_12182_page168 { display: none; }
@media screen and (min-width:982px) and (max-width:3000px) { #stacks_in_12182_page168 { display: block; } }
#atm_ResponsiveSupportOldBrowser_stacks_in_12182_page168 {display:none;}/*
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-position/
 * Support: support@1littledesigner.com
 * Version 1.0.4
 * Description: Simple Element Positioning & Z-Index Control
 */


	#simplePosition_stacks_in_12185_page168 {
		position: fixed;
		z-index: 1;
		top: 0px;
		left: 0px;
	}

#simplePosition_stacks_in_12185_page168.sizeControlOn {
	width: 300px;
	height: 300px;
}
#simplePosition_stacks_in_12185_page168 h3.advert {
	
}

#stacks_in_12187_page168 { display: none; }
@media screen and (min-width:696px) and (max-width:3000px) { #stacks_in_12187_page168 { display: block; } }
#atm_ResponsiveSupportOldBrowser_stacks_in_12187_page168 {display:none;}/*
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-position/
 * Support: support@1littledesigner.com
 * Version 1.0.4
 * Description: Simple Element Positioning & Z-Index Control
 */


	#simplePosition_stacks_in_12190_page168 {
		position: relative;
		z-index: 5;
		top: 0px;
		left: 0px;
	}

#simplePosition_stacks_in_12190_page168.sizeControlOn {
	width: 300px;
	height: 300px;
}
#simplePosition_stacks_in_12190_page168 h3.advert {
	
}

#stacks_in_12190_page168 {
	margin:  6px;
}
/* @group CSS Reset & Box Sizing */

#AdaptiveGridstacks_in_12192_page168 *,
#AdaptiveGridstacks_in_12192_page168 *:before,
#AdaptiveGridstacks_in_12192_page168 *:after {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#AdaptiveGridstacks_in_12192_page168 {
	display: block;
	height: auto;
	overflow: auto;
}


#AdaptiveGridstacks_in_12192_page168 img {
	max-width: 100%;
	height: auto;
}


#AdaptiveGridstacks_in_12192_page168 .column1,
#AdaptiveGridstacks_in_12192_page168 .column2,
#AdaptiveGridstacks_in_12192_page168 .column3,
#AdaptiveGridstacks_in_12192_page168 .column4,
#AdaptiveGridstacks_in_12192_page168 .column5,
#AdaptiveGridstacks_in_12192_page168 .column6,
#AdaptiveGridstacks_in_12192_page168 .column7,
#AdaptiveGridstacks_in_12192_page168 .column8,
#AdaptiveGridstacks_in_12192_page168 .column9,
#AdaptiveGridstacks_in_12192_page168 .column10,
#AdaptiveGridstacks_in_12192_page168 .column11,
#AdaptiveGridstacks_in_12192_page168 .column12 {
	position: relative;
	float: left;
}

/* @end */

/* @group Column Padding Settings */

@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .ColumnInner {
		padding: 0px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-left: -0px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-right: -0px;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .ColumnInner {
		padding: 2px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-left: -2px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-right: -2px;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .ColumnInner {
		padding: 4px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-left: -4px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-right: -4px;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .ColumnInner {
		padding: 6px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-left: -6px;
	}
	
	#AdaptiveGridstacks_in_12192_page168 {
		margin-right: -6px;
	}
}

/* @end */

/* @group Column Settings */



/* If column 1 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column1 {
		width: 14.40%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column1 {
		width: 14.40%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column1 {
		width: 14.40%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column1 {
		width: 14.40%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column2 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column2 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column2 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column2 {
		width: 10.00%;
	}
}



/* If column 3 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column3 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column3 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column3 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column3 {
		width: 10.00%;
	}
}



/* If column 4 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column4 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column4 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column4 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column4 {
		width: 10.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column5 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column5 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column5 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column5 {
		width: 10.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column6 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column6 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column6 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column6 {
		width: 10.00%;
	}
}



/* If column 7 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column7 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column7 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column7 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column7 {
		width: 10.00%;
	}
}



/* If column 8 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column8 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column8 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column8 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column8 {
		width: 10.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .column9 {
		width: 10.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .column9 {
		width: 10.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .column9 {
		width: 10.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .column9 {
		width: 10.00%;
	}
}








/* @end */

/* @group Custom Classes */

@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_12192_page168 .no-phone {
		display: none;
	}
	
	#AdaptiveGridstacks_in_12192_page168 .display-phone {
		display: block;
	}	
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_12192_page168 .no-tablet {
		display: none;
	}
	
	#AdaptiveGridstacks_in_12192_page168 .display-tablet {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_12192_page168 .no-laptop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_12192_page168 .display-laptop {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_12192_page168 .no-desktop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_12192_page168 .display-desktop {
		display: block;
	}
}

@media print {
	#AdaptiveGridstacks_in_12192_page168 .no-print {
		display: none;
	}
}

@media screen {
	#AdaptiveGridstacks_in_12192_page168 .no-screen {
		display: none;
	}
}

/* @end */



/* @group Print Styling */

@media print {
	#AdaptiveGridstacks_in_12192_page168 {
		display: block;
		position: relative;
		height: auto;
		overflow: auto;
	}
	
	#AdaptiveGridstacks_in_12192_page168 .column1,
	#AdaptiveGridstacks_in_12192_page168 .column2,
	#AdaptiveGridstacks_in_12192_page168 .column3,
	#AdaptiveGridstacks_in_12192_page168 .column4,
	#AdaptiveGridstacks_in_12192_page168 .column5,
	#AdaptiveGridstacks_in_12192_page168 .column6,
	#AdaptiveGridstacks_in_12192_page168 .column7,
	#AdaptiveGridstacks_in_12192_page168 .column8,
	#AdaptiveGridstacks_in_12192_page168 .column9,
	#AdaptiveGridstacks_in_12192_page168 .column10,
	#AdaptiveGridstacks_in_12192_page168 .column11,
	#AdaptiveGridstacks_in_12192_page168 .column12 {
		float: none;
		position: relative;
		width: 100%;	
	}
	
	#AdaptiveGridstacks_in_12192_page168 .ColumnInner {
		padding: 0;
	}
}

/* @end */
#stacks_in_12198_page168 {
	background-color: #AC7046;
}
/*
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-position/
 * Support: support@1littledesigner.com
 * Version 1.0.4
 * Description: Simple Element Positioning & Z-Index Control
 */


	#simplePosition_stacks_in_6649_page168 {
		position: relative;
		z-index: 5;
		top: 0px;
		left: 0px;
	}

#simplePosition_stacks_in_6649_page168.sizeControlOn {
	width: 300px;
	height: 300px;
}
#simplePosition_stacks_in_6649_page168 h3.advert {
	
}
/* @group CSS Reset & Box Sizing */

#AdaptiveGridstacks_in_6773_page168 *,
#AdaptiveGridstacks_in_6773_page168 *:before,
#AdaptiveGridstacks_in_6773_page168 *:after {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#AdaptiveGridstacks_in_6773_page168 {
	display: block;
	height: auto;
	overflow: auto;
}


#AdaptiveGridstacks_in_6773_page168 img {
	max-width: 100%;
	height: auto;
}


#AdaptiveGridstacks_in_6773_page168 .column1,
#AdaptiveGridstacks_in_6773_page168 .column2,
#AdaptiveGridstacks_in_6773_page168 .column3,
#AdaptiveGridstacks_in_6773_page168 .column4,
#AdaptiveGridstacks_in_6773_page168 .column5,
#AdaptiveGridstacks_in_6773_page168 .column6,
#AdaptiveGridstacks_in_6773_page168 .column7,
#AdaptiveGridstacks_in_6773_page168 .column8,
#AdaptiveGridstacks_in_6773_page168 .column9,
#AdaptiveGridstacks_in_6773_page168 .column10,
#AdaptiveGridstacks_in_6773_page168 .column11,
#AdaptiveGridstacks_in_6773_page168 .column12 {
	position: relative;
	float: left;
}

/* @end */

/* @group Column Padding Settings */

@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_6773_page168 .ColumnInner {
		padding: 0px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-left: -0px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-right: -0px;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6773_page168 .ColumnInner {
		padding: 2px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-left: -2px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-right: -2px;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6773_page168 .ColumnInner {
		padding: 4px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-left: -4px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-right: -4px;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6773_page168 .ColumnInner {
		padding: 6px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-left: -6px;
	}
	
	#AdaptiveGridstacks_in_6773_page168 {
		margin-right: -6px;
	}
}

/* @end */

/* @group Column Settings */



/* If column 1 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_6773_page168 .column1 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6773_page168 .column1 {
		width: 33.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6773_page168 .column1 {
		width: 25.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6773_page168 .column1 {
		width: 25.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_6773_page168 .column2 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6773_page168 .column2 {
		width: 66.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6773_page168 .column2 {
		width: 25.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6773_page168 .column2 {
		width: 25.00%;
	}
}



/* If column 3 is enabled */
@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_6773_page168 .column3 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6773_page168 .column3 {
		width: 100.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6773_page168 .column3 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6773_page168 .column3 {
		width: 50.00%;
	}
}




















/* @end */

/* @group Custom Classes */

@media screen and (min-width: 320px) {
	#AdaptiveGridstacks_in_6773_page168 .no-phone {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6773_page168 .display-phone {
		display: block;
	}	
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6773_page168 .no-tablet {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6773_page168 .display-tablet {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6773_page168 .no-laptop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6773_page168 .display-laptop {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6773_page168 .no-desktop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6773_page168 .display-desktop {
		display: block;
	}
}

@media print {
	#AdaptiveGridstacks_in_6773_page168 .no-print {
		display: none;
	}
}

@media screen {
	#AdaptiveGridstacks_in_6773_page168 .no-screen {
		display: none;
	}
}

/* @end */



/* @group Print Styling */

@media print {
	#AdaptiveGridstacks_in_6773_page168 {
		display: block;
		position: relative;
		height: auto;
		overflow: auto;
	}
	
	#AdaptiveGridstacks_in_6773_page168 .column1,
	#AdaptiveGridstacks_in_6773_page168 .column2,
	#AdaptiveGridstacks_in_6773_page168 .column3,
	#AdaptiveGridstacks_in_6773_page168 .column4,
	#AdaptiveGridstacks_in_6773_page168 .column5,
	#AdaptiveGridstacks_in_6773_page168 .column6,
	#AdaptiveGridstacks_in_6773_page168 .column7,
	#AdaptiveGridstacks_in_6773_page168 .column8,
	#AdaptiveGridstacks_in_6773_page168 .column9,
	#AdaptiveGridstacks_in_6773_page168 .column10,
	#AdaptiveGridstacks_in_6773_page168 .column11,
	#AdaptiveGridstacks_in_6773_page168 .column12 {
		float: none;
		position: relative;
		width: 100%;	
	}
	
	#AdaptiveGridstacks_in_6773_page168 .ColumnInner {
		padding: 0;
	}
}

/* @end */
#stacks_in_6775_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_6777_page168 { display: none; }
@media screen and (min-width:769px) and (max-width:3000px) { #stacks_in_6777_page168 { display: block; } }
#atm_ResponsiveSupportOldBrowser_stacks_in_6777_page168 {display:none;}
#stacks_in_10674_page168 { display: none; }
@media screen and (min-width:100px) and (max-width:768px) { #stacks_in_10674_page168 { display: block; } }
#atm_ResponsiveSupportOldBrowser_stacks_in_10674_page168 {display:none;}
#stacks_in_10684_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_6781_page168 {
	margin:  4px;
	padding:  8px;
}

#stacks_in_6849_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_6851_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_6853_page168 {
	margin:  20px;
}
/*
 * Simple Divider Pro
 * AUTHOR: JEREMY HAWES
 * URL: http://www.onelittledesigner.com/rapdidweaver-stack/simple-divider/
 * Support: support@1littledesigner.com
 * Version 1.4.0
 */

#simpleDivider_stacks_in_6947_page168 {
	width: 100%;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}
#simpleDivider_stacks_in_6947_page168 .theDivider1,
#simpleDivider_stacks_in_6947_page168 .theDivider2 {
	width: inherit;
}
#simpleDivider_stacks_in_6947_page168 .theDivider1 {
	height: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
}
#simpleDivider_stacks_in_6947_page168.transparentOff .theDivider1 {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #CCCCCC;
	border-bottom-color: #FFFFFF;
}
#simpleDivider_stacks_in_6947_page168.transparentOn .theDivider1 {
	border-width: 0;
	border-color: none;
}
#simpleDivider_stacks_in_6947_page168 .theDivider2 {
	height: 4px;
}
#simpleDivider_stacks_in_6947_page168.transparentOff .theDivider2 {
	background-color: #E0E0E0;
}
#simpleDivider_stacks_in_6947_page168.transparentOn .theDivider2 {
	background-color: transparent;
}
#simpleDivider_stacks_in_6947_page168.bgImageOn .theDivider1 {
	background: transparent url() no-repeat;
	overflow: visible;
	border-width: 0;
	border-color: none;
}
#simpleDivider_stacks_in_6947_page168.bgImageOn .theDivider1 img {
	display: block;
}

/* @group CSS Reset & Box Sizing */

#AdaptiveGridstacks_in_11752_page168 *,
#AdaptiveGridstacks_in_11752_page168 *:before,
#AdaptiveGridstacks_in_11752_page168 *:after {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#AdaptiveGridstacks_in_11752_page168 {
	display: block;
	height: auto;
	overflow: auto;
}


#AdaptiveGridstacks_in_11752_page168 img {
	max-width: 100%;
	height: auto;
}


#AdaptiveGridstacks_in_11752_page168 .column1,
#AdaptiveGridstacks_in_11752_page168 .column2,
#AdaptiveGridstacks_in_11752_page168 .column3,
#AdaptiveGridstacks_in_11752_page168 .column4,
#AdaptiveGridstacks_in_11752_page168 .column5,
#AdaptiveGridstacks_in_11752_page168 .column6,
#AdaptiveGridstacks_in_11752_page168 .column7,
#AdaptiveGridstacks_in_11752_page168 .column8,
#AdaptiveGridstacks_in_11752_page168 .column9,
#AdaptiveGridstacks_in_11752_page168 .column10,
#AdaptiveGridstacks_in_11752_page168 .column11,
#AdaptiveGridstacks_in_11752_page168 .column12 {
	position: relative;
	float: left;
}

/* @end */

/* @group Column Padding Settings */

@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_11752_page168 .ColumnInner {
		padding: 0px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-left: -0px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-right: -0px;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_11752_page168 .ColumnInner {
		padding: 2px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-left: -2px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-right: -2px;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_11752_page168 .ColumnInner {
		padding: 4px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-left: -4px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-right: -4px;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_11752_page168 .ColumnInner {
		padding: 6px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-left: -6px;
	}
	
	#AdaptiveGridstacks_in_11752_page168 {
		margin-right: -6px;
	}
}

/* @end */

/* @group Column Settings */



/* If column 1 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_11752_page168 .column1 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_11752_page168 .column1 {
		width: 33.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_11752_page168 .column1 {
		width: 33.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_11752_page168 .column1 {
		width: 33.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_11752_page168 .column2 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_11752_page168 .column2 {
		width: 33.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_11752_page168 .column2 {
		width: 33.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_11752_page168 .column2 {
		width: 33.00%;
	}
}



/* If column 3 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_11752_page168 .column3 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_11752_page168 .column3 {
		width: 33.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_11752_page168 .column3 {
		width: 33.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_11752_page168 .column3 {
		width: 33.00%;
	}
}




















/* @end */

/* @group Custom Classes */

@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_11752_page168 .no-phone {
		display: none;
	}
	
	#AdaptiveGridstacks_in_11752_page168 .display-phone {
		display: block;
	}	
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_11752_page168 .no-tablet {
		display: none;
	}
	
	#AdaptiveGridstacks_in_11752_page168 .display-tablet {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_11752_page168 .no-laptop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_11752_page168 .display-laptop {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_11752_page168 .no-desktop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_11752_page168 .display-desktop {
		display: block;
	}
}

@media print {
	#AdaptiveGridstacks_in_11752_page168 .no-print {
		display: none;
	}
}

@media screen {
	#AdaptiveGridstacks_in_11752_page168 .no-screen {
		display: none;
	}
}

/* @end */



/* @group Print Styling */

@media print {
	#AdaptiveGridstacks_in_11752_page168 {
		display: block;
		position: relative;
		height: auto;
		overflow: auto;
	}
	
	#AdaptiveGridstacks_in_11752_page168 .column1,
	#AdaptiveGridstacks_in_11752_page168 .column2,
	#AdaptiveGridstacks_in_11752_page168 .column3,
	#AdaptiveGridstacks_in_11752_page168 .column4,
	#AdaptiveGridstacks_in_11752_page168 .column5,
	#AdaptiveGridstacks_in_11752_page168 .column6,
	#AdaptiveGridstacks_in_11752_page168 .column7,
	#AdaptiveGridstacks_in_11752_page168 .column8,
	#AdaptiveGridstacks_in_11752_page168 .column9,
	#AdaptiveGridstacks_in_11752_page168 .column10,
	#AdaptiveGridstacks_in_11752_page168 .column11,
	#AdaptiveGridstacks_in_11752_page168 .column12 {
		float: none;
		position: relative;
		width: 100%;	
	}
	
	#AdaptiveGridstacks_in_11752_page168 .ColumnInner {
		padding: 0;
	}
}

/* @end */
#stacks_in_11754_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_11756_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_11760_page168 {
	margin:  20px;
}

#stacks_in_11763_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_11765_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_11769_page168 {
	margin:  20px;
}

#stacks_in_11779_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_11785_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_11791_page168 {
	margin:  20px;
}

#stacks_in_11536_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_11538_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_11540_page168 {
	margin:  20px;
}
/* @group CSS Reset & Box Sizing */

#AdaptiveGridstacks_in_6934_page168 *,
#AdaptiveGridstacks_in_6934_page168 *:before,
#AdaptiveGridstacks_in_6934_page168 *:after {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#AdaptiveGridstacks_in_6934_page168 {
	display: block;
	height: auto;
	overflow: auto;
}


#AdaptiveGridstacks_in_6934_page168 img {
	max-width: 100%;
	height: auto;
}


#AdaptiveGridstacks_in_6934_page168 .column1,
#AdaptiveGridstacks_in_6934_page168 .column2,
#AdaptiveGridstacks_in_6934_page168 .column3,
#AdaptiveGridstacks_in_6934_page168 .column4,
#AdaptiveGridstacks_in_6934_page168 .column5,
#AdaptiveGridstacks_in_6934_page168 .column6,
#AdaptiveGridstacks_in_6934_page168 .column7,
#AdaptiveGridstacks_in_6934_page168 .column8,
#AdaptiveGridstacks_in_6934_page168 .column9,
#AdaptiveGridstacks_in_6934_page168 .column10,
#AdaptiveGridstacks_in_6934_page168 .column11,
#AdaptiveGridstacks_in_6934_page168 .column12 {
	position: relative;
	float: left;
}

/* @end */

/* @group Column Padding Settings */

@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_6934_page168 .ColumnInner {
		padding: 0px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-left: -0px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-right: -0px;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6934_page168 .ColumnInner {
		padding: 2px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-left: -2px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-right: -2px;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6934_page168 .ColumnInner {
		padding: 4px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-left: -4px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-right: -4px;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6934_page168 .ColumnInner {
		padding: 6px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-left: -6px;
	}
	
	#AdaptiveGridstacks_in_6934_page168 {
		margin-right: -6px;
	}
}

/* @end */

/* @group Column Settings */



/* If column 1 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_6934_page168 .column1 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6934_page168 .column1 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6934_page168 .column1 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6934_page168 .column1 {
		width: 50.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_6934_page168 .column2 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6934_page168 .column2 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6934_page168 .column2 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6934_page168 .column2 {
		width: 50.00%;
	}
}



/* If column 3 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_6934_page168 .column3 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6934_page168 .column3 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6934_page168 .column3 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6934_page168 .column3 {
		width: 25.00%;
	}
}




















/* @end */

/* @group Custom Classes */

@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_6934_page168 .no-phone {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6934_page168 .display-phone {
		display: block;
	}	
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_6934_page168 .no-tablet {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6934_page168 .display-tablet {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_6934_page168 .no-laptop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6934_page168 .display-laptop {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_6934_page168 .no-desktop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_6934_page168 .display-desktop {
		display: block;
	}
}

@media print {
	#AdaptiveGridstacks_in_6934_page168 .no-print {
		display: none;
	}
}

@media screen {
	#AdaptiveGridstacks_in_6934_page168 .no-screen {
		display: none;
	}
}

/* @end */



/* @group Print Styling */

@media print {
	#AdaptiveGridstacks_in_6934_page168 {
		display: block;
		position: relative;
		height: auto;
		overflow: auto;
	}
	
	#AdaptiveGridstacks_in_6934_page168 .column1,
	#AdaptiveGridstacks_in_6934_page168 .column2,
	#AdaptiveGridstacks_in_6934_page168 .column3,
	#AdaptiveGridstacks_in_6934_page168 .column4,
	#AdaptiveGridstacks_in_6934_page168 .column5,
	#AdaptiveGridstacks_in_6934_page168 .column6,
	#AdaptiveGridstacks_in_6934_page168 .column7,
	#AdaptiveGridstacks_in_6934_page168 .column8,
	#AdaptiveGridstacks_in_6934_page168 .column9,
	#AdaptiveGridstacks_in_6934_page168 .column10,
	#AdaptiveGridstacks_in_6934_page168 .column11,
	#AdaptiveGridstacks_in_6934_page168 .column12 {
		float: none;
		position: relative;
		width: 100%;	
	}
	
	#AdaptiveGridstacks_in_6934_page168 .ColumnInner {
		padding: 0;
	}
}

/* @end */
#stacks_in_6985_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_6987_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_7017_page168 {
	margin:  20px;
}

#stacks_in_7031_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_7033_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_7035_page168 {
	margin:  20px;
}
#stacks_in_11770_page168 a{text-decoraction:none!important}

#stacks_in_11770_page168 {
	background-color: #D7D6C6;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_11772_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_11774_page168 {
	margin:  20px;
}
/* @group CSS Reset & Box Sizing */

#AdaptiveGridstacks_in_13528_page168 *,
#AdaptiveGridstacks_in_13528_page168 *:before,
#AdaptiveGridstacks_in_13528_page168 *:after {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#AdaptiveGridstacks_in_13528_page168 {
	display: block;
	height: auto;
	overflow: auto;
}


#AdaptiveGridstacks_in_13528_page168 img {
	max-width: 100%;
	height: auto;
}


#AdaptiveGridstacks_in_13528_page168 .column1,
#AdaptiveGridstacks_in_13528_page168 .column2,
#AdaptiveGridstacks_in_13528_page168 .column3,
#AdaptiveGridstacks_in_13528_page168 .column4,
#AdaptiveGridstacks_in_13528_page168 .column5,
#AdaptiveGridstacks_in_13528_page168 .column6,
#AdaptiveGridstacks_in_13528_page168 .column7,
#AdaptiveGridstacks_in_13528_page168 .column8,
#AdaptiveGridstacks_in_13528_page168 .column9,
#AdaptiveGridstacks_in_13528_page168 .column10,
#AdaptiveGridstacks_in_13528_page168 .column11,
#AdaptiveGridstacks_in_13528_page168 .column12 {
	position: relative;
	float: left;
}

/* @end */

/* @group Column Padding Settings */

@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_13528_page168 .ColumnInner {
		padding: 0px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-left: -0px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-right: -0px;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_13528_page168 .ColumnInner {
		padding: 2px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-left: -2px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-right: -2px;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_13528_page168 .ColumnInner {
		padding: 4px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-left: -4px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-right: -4px;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_13528_page168 .ColumnInner {
		padding: 6px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-left: -6px;
	}
	
	#AdaptiveGridstacks_in_13528_page168 {
		margin-right: -6px;
	}
}

/* @end */

/* @group Column Settings */



/* If column 1 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_13528_page168 .column1 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_13528_page168 .column1 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_13528_page168 .column1 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_13528_page168 .column1 {
		width: 25.00%;
	}
}



/* If column 2 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_13528_page168 .column2 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_13528_page168 .column2 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_13528_page168 .column2 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_13528_page168 .column2 {
		width: 25.00%;
	}
}



/* If column 3 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_13528_page168 .column3 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_13528_page168 .column3 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_13528_page168 .column3 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_13528_page168 .column3 {
		width: 25.00%;
	}
}



/* If column 4 is enabled */
@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_13528_page168 .column4 {
		width: 100.00%;
	}
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_13528_page168 .column4 {
		width: 50.00%;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_13528_page168 .column4 {
		width: 50.00%;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_13528_page168 .column4 {
		width: 25.00%;
	}
}


















/* @end */

/* @group Custom Classes */

@media screen and (min-width: 0px) {
	#AdaptiveGridstacks_in_13528_page168 .no-phone {
		display: none;
	}
	
	#AdaptiveGridstacks_in_13528_page168 .display-phone {
		display: block;
	}	
}

@media screen and (min-width: 769px) {
	#AdaptiveGridstacks_in_13528_page168 .no-tablet {
		display: none;
	}
	
	#AdaptiveGridstacks_in_13528_page168 .display-tablet {
		display: block;
	}
}

@media screen and (min-width: 992px) {
	#AdaptiveGridstacks_in_13528_page168 .no-laptop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_13528_page168 .display-laptop {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#AdaptiveGridstacks_in_13528_page168 .no-desktop {
		display: none;
	}
	
	#AdaptiveGridstacks_in_13528_page168 .display-desktop {
		display: block;
	}
}

@media print {
	#AdaptiveGridstacks_in_13528_page168 .no-print {
		display: none;
	}
}

@media screen {
	#AdaptiveGridstacks_in_13528_page168 .no-screen {
		display: none;
	}
}

/* @end */



/* @group Print Styling */

@media print {
	#AdaptiveGridstacks_in_13528_page168 {
		display: block;
		position: relative;
		height: auto;
		overflow: auto;
	}
	
	#AdaptiveGridstacks_in_13528_page168 .column1,
	#AdaptiveGridstacks_in_13528_page168 .column2,
	#AdaptiveGridstacks_in_13528_page168 .column3,
	#AdaptiveGridstacks_in_13528_page168 .column4,
	#AdaptiveGridstacks_in_13528_page168 .column5,
	#AdaptiveGridstacks_in_13528_page168 .column6,
	#AdaptiveGridstacks_in_13528_page168 .column7,
	#AdaptiveGridstacks_in_13528_page168 .column8,
	#AdaptiveGridstacks_in_13528_page168 .column9,
	#AdaptiveGridstacks_in_13528_page168 .column10,
	#AdaptiveGridstacks_in_13528_page168 .column11,
	#AdaptiveGridstacks_in_13528_page168 .column12 {
		float: none;
		position: relative;
		width: 100%;	
	}
	
	#AdaptiveGridstacks_in_13528_page168 .ColumnInner {
		padding: 0;
	}
}

/* @end */
#stacks_in_13664_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_13666_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_13668_page168 {
	margin:  20px;
}

#stacks_in_13681_page168 {
	background-color: #CDCDBA;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin:  4px;
}

#stacks_in_13683_page168 {
	background-color: #000000;
	padding: 0px 0px 0px 20px;
}

#stacks_in_13685_page168 {
	margin:  20px;
}
  #stacks_in_6886_page168{display:none}
