/* Use this stylesheet for any custom CSS code. Code entered into this file will be applied automatically to all pages using the theme. */
@font-face {
    font-family: 'gooddogregular';
    src: url('GoodDog-webfont.eot');
    src: url('GoodDog-webfont-.eot#iefix') format('embedded-opentype'),
         url('http://www.sint.nl/rw_common/themes/ablanktheme/GoodDog-webfont.woff') format('woff'),
         url('GoodDog-webfont.ttf') format('truetype'),
         url('http://www.sint.nl/rw_common/themes/ablanktheme/GoodDog-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    font-family: "Nobile", Arial, sans-serif;
}

h1 {
  color: #FFFFCC;   
  text-shadow: 0 0 3px #996633;
  font-size: 32px;
  font-family: 'Grand Hotel', Arial, sans-serif;
}
h2 {
color: #FFFFCC;   
font-size: 24px;
font-family: 'Grand Hotel', Arial, sans-serif;
 line-height: 50%;
}
h3 {
color: #000000;   
font-size: 24px;
font-family: 'Grand Hotel', Arial, sans-serif;
}