/* Print stylesheet */

body {
	font-family: "Spranq eco sans", Arial, Helvetica, Geneva, sans-serif;
	width: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
	background: white;
	font-size: 12pt;
}

#siteTitle h1,
#siteSlogan h2 {
	font-size: 14pt;
}

a:link, a:visited {
	color: #0000ff;
	text-decoration: none;
}

a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
	text-decoration: none;
}

#absoluteLeft,
#absoluteRight,
#fixedLeft,
#fixedRight,
#gradient,
#searchFunction,
#footerLogo,
.ecName,
#nav,
#nav2,
#headerShadow,
#siteLogo,
#breadcrumb,
#viewUserGuide,
#upperNavigationContainer,
#middleNavigationContainer,
#lowerNavigationContainer {
	display: none;
}

#aside {
	display: block;
	width: 200px;
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px dotted #cccccc;
	position: relative;
	padding: 10px;
}

#footer {
	display: block;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #cccccc;
	width: 100%;
	position: relative;
}