body {
	color: #000000;
	background-color: #9C0000;
}

a:link, a:visited, a:active {
	color: #000063;
	background: #000063;
}

a:hover {
	color: #9C0000;
	background: #9C0000;
}

.form-input-field {
	background: #F4F4F4;
	color: #000000;
}

.thumbnail-frame img {
	background-color: #000000;
}

.photo-frame {
	border: 5px solid #000000;
}

h1.blog-entry-title, h1.blog-entry-title a{
	color: #660000;
}